<div class="task-container">

  <div class="task-card">

```
<h2 class="title">Task Details</h2>

<!-- VIEW MODE -->
<div *ngIf="!isEdit" class="view-mode">

  <div class="row">
    <div class="field">
      <label>Title</label>
      <p>{{ task.title }}</p>
    </div>

    <div class="field">
      <label>Assigned To</label>
      <p>{{ task.assignedTo }}</p>
    </div>
  </div>

  <div class="row">
    <div class="field">
      <label>Priority</label>
      <p
       
  [ngClass]="{
    'priority-badge': true,
    'high': task.priority === 'High',
    'medium': task.priority === 'Medium',
    'low': task.priority === 'Low'
  }"     
      >{{ task.priority }}</p> <!--Task Priority Badge-->
    </div>

    <div class="field">
      <label>Due Date</label>
      <p>{{ task.dueDate }}</p>
    </div>
  </div>

  <div class="row">
    <div class="field full">
      <label>Status</label>
      <p
       [ngClass]="{
    'status-badge': true,
    'pending': task.status === 'Pending',
    'completed': task.status === 'Completed'
  }"
      >{{ task.status }}</p>
    </div>
  </div>

  <div class="actions">
    <button class="edit-btn" (click)="enableEdit()">Edit</button>
    <button class="back-btn" (click)="goBack()">Back</button>
  </div>

</div>

<!-- EDIT MODE -->
<div *ngIf="isEdit" class="edit-mode">

  <div class="row">
    <div class="field">
      <label>Title</label>
      <input [(ngModel)]="task.title" />
    </div>

    <div class="field">
      <label>Assigned To</label>
      <input [(ngModel)]="task.assignedTo" />
    </div>
  </div>

  <div class="row">
    <div class="field">
      <label>Priority</label>
      <select [(ngModel)]="task.priority">
        <option>High</option>
        <option>Medium</option>
        <option>Low</option>
      </select>
    </div>

    <div class="field">
      <label>Due Date</label>
      <input type="date" [(ngModel)]="task.dueDate" />
    </div>
  </div>

  <div class="row">
    <div class="field full">
      <label>Status</label>
      <select [(ngModel)]="task.status">
        <option>Pending</option>
        <option>Completed</option>
      </select>
    </div>
  </div>

  <div class="actions">
    <button class="save-btn" (click)="saveTask()">Save</button>
    <button class="cancel-btn" (click)="isEdit=false">Cancel</button>
  </div>

</div>
```

  </div>

</div>
