<div class="layout">

  <!-- SIDEBAR -->

  <aside class="sidebar">
    <h2 class="logo">Student Tasks</h2>


<ul class="menu">
  <li routerLink="/dashboard" routerLinkActive="active">Dashboard</li>
  <li routerLink="/tasks" routerLinkActive="active">Tasks</li>
</ul>


  </aside>

  <!-- MAIN AREA -->

  <div class="main">


<!-- HEADER -->
<header class="header">

  <div class="header-left">
    <h3>Manager Dashboard</h3>
  </div>

  <div class="header-right">
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>

</header>

<!-- CONTENT -->
<div class="content">
  <div class="page-container">
    <router-outlet></router-outlet>
  </div>
</div>


  </div>

</div>
