<div class="login-page">
  <div class="login-card">

    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="login-form">
      <h2>Login</h2>

      <input type="text" name="username" [(ngModel)]="username" placeholder="Username" required #user="ngModel" />
      <small *ngIf="user.invalid && user.touched">Username is required</small>

      <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required minlength="4" #pass="ngModel" />
      <small *ngIf="pass.invalid && pass.touched">Password is required</small>

      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>

  </div>
</div>